.grid-container {
  margin-top: 2rem;
  width: -webkit-fill-available;
  height: 80%;
  place-items: center;
  display: flex;
  justify-content: center;
  max-width: 1400px;
}

.info-content {
  width: 80%;
  height: 80%;
  justify-content: center;
  display: grid;
  align-content: center;
  grid-template-columns: [first] 20% [line2] 24% [line3] 24% [col4-start] 14% [five] 18% [end];
  grid-template-rows: [row1-start] 170px [row1-end] 130px [third-line] 130px [four-line] 130px [last-line];
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.info-vmario-container {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: row1-start;
  grid-row-end: 1;
}

.vmario-container {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 5;
}

.first-channel-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.second-channel-container {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.instagram-container {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 2/2;
}

.twitch-container {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 2/2;
}

.twitter-container {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 2/2;
}

.nauticmc-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 2/2;
}

.tiktok-container {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 2/2;
}

/* Hover effects */

.first-channel-container,
.second-channel-container,
.instagram-container,
.twitch-container,
.twitter-container,
.nauticmc-container,
.tiktok-container {
  transition: all 0.7s;
}

.first-channel-container:hover,
.second-channel-container:hover,
.instagram-container:hover,
.twitch-container:hover,
.twitter-container:hover,
.nauticmc-container:hover,
.tiktok-container:hover {
  transform: scale(0.97);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .grid-container {
    padding: 0 25px 0px 25px;
  }
  .vmario-container {
    display: none !important;
  }

  .info-vmario-container {
    grid-column-start: 1;
  }

  .first-channel-container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .second-channel-container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .nauticmc-container {
    grid-column-start: 1;
    grid-column-end: 3/2;
  }

  .tiktok-container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 2/2;
  }
}

@media screen and (max-width: 683px) {
  .grid-container {
    padding: 0 20px 0px 20px;
  }

  .info-content {
    padding: 1rem;
    width: 100%;
    grid-template-columns: [first] 20% [line2] 20% [line3] 20% [col4-start] 20% [five] 20% [end];
    grid-template-rows: [row1-start] 120px [row1-end] 120px [third-line] 120px [four-line] 120px [five-line] 120px [six-line] 120px [seven-line] 120px [eight-line] 120px [last-line];
  }

  .info-vmario-container {
    grid-column-start: 1;
  }

  .first-channel-container {
    grid-column-end: 6;
  }

  .second-channel-container {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .nauticmc-container {
    grid-column-end: 6;
  }

  .instagram-container {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .twitch-container {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 2/2;
  }

  .twitter-container {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 2/2;
  }

  .tiktok-container {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 2/2;
  }
}
